---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<Layout title="arhms blog thing">
	<h1>who reads blogs anyway</h1>
	<p>I really want to write about anything i want, not just tech</p>

	<ul>
		{posts.map((post) => (
			<li>
                <span>{post.data.date}</span>
                &mdash;
				<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
			</li>
		))}
	</ul>
</Layout>

<style>
    ul { list-style: none; padding: 0; }
    li { margin-bottom: 0.5rem; }
    span { color: #666; font-size: 0.9em; }
</style>