---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <main>
            <header>
                <a href="/">[home]</a>
                <a href="https://github.com/apparentlyarhm">[github]</a>
                <a href="https://nsfw.arhm.dev">[space]</a>
            </header>
            <hr />

            <slot />

            <hr />
            <footer>
                <small>server: go // builder: astro // ui: plain text</small>
            </footer>
        </main>
    </body>
</html>

<style is:global>
    @font-face {
        font-family: "JetBrains Mono";
        src: url("/fonts/JetBrainsMono[wght].ttf") format("truetype");
        font-weight: 100 800;
        font-style: normal;
        font-display: swap;
    }

    :root {
        --bg: #0c0c0c;
        --fg: #c0c0c0;
        --accent: #00a2ff;
        --font-main: "JetBrains Mono", monospace;
    }
    html {
        font-family: var(--font-main);
        font-weight: 400;
        background: var(--bg);
        color: var(--fg);
        line-height: 1.6;
    }
    body {
        margin: 0;
        font-size: 0.9em;
        padding: 2rem;
        max-width: 85ch;
        margin-left: auto;
        margin-right: auto;
    }
    a {
        color: var(--fg);
        text-decoration: underline;
    }
    a:hover {
        color: var(--accent);
        background: #222;
    }
    hr {
        border: 1px dashed #202020;
        margin: 2rem 0;
    }
    h1,
    h2,
    h3,
    strong {
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
    }
    code {
        padding: 2px 5px;
    }
    pre {
        background: #141414;
        padding: 1rem;
        overflow-x: auto;
        border: 1px solid #6b6b6b;
        border-radius: 12px;
        font-size: 1.05rem;
        line-height: 1.5;
    }
    footer {
        text-align: left;
        font-size: 0.8em;
        color: #333333;
    }
</style>
